html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*body {
    height: 100vh;
    background: #000;
    background: #83a4d4;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}*/

body {
    height: 100vh;
    background: #2d517d;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    /*background: linear-gradient(
        180deg,
        rgba(45, 81, 125, 1) 0%,
        rgba(49, 100, 148, 1) 13%,
        rgba(0, 212, 255, 1) 57%,
        rgba(0, 115, 138, 1) 100%
    );*/
}

/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.5s ease-out;
}

*:focus {
    outline: 0;
}

.container {
    width: 100% !important; /* Use !important to override Materialize's default */
    max-width: none !important; /* Remove any max-width constraints */
    outline: 5px solid blue;
}

.carousel {
    width: 100%;
    height: 100vh;
    perspective: 300px;
    /* transform: translateY(0px); */
}

.carousel .carousel-item:active {
    cursor: grabbing;
}

.carousel .carousel-item img {
    /* width: 100%;
    height: 70%; */
    margin: auto;
}

.carousel .carousel-item h3 {
    background-color: #ffffff;
    color: #aaaaaa;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 0 0;
    padding: 10px 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* For landscape orientation (e.g., desktops, horizontal phones) */
@media screen and (orientation: landscape) {
    .carousel .carousel-item {
        cursor: grab;
        width: 50%;
        height: 50%;
        background: #366577;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        box-shadow:
            -3px -3px 5px 8px rgba(0, 0, 0, 0.1),
            3px 3px 5px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        background-size: 100% auto;
        background-position: center;
        
    }
}

/* For portrait orientation (e.g., phones held vertically) */
@media screen and (orientation: portrait) {
    .carousel .carousel-item {
        cursor: grab;
        width: 50%;
        height: 50%;
        background: #366577;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        box-shadow:
            -3px -3px 5px 8px rgba(0, 0, 0, 0.1),
            3px 3px 5px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        background-size: auto 100%;
        background-position: center;
    }
}
